!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      TRex trying
    %link{:href => "http://#{@host}/css/styles.css", :rel => "stylesheet", :class => "dither"}  
  %body
    %img{:src => "#{@img}", :alt => "header"}
    %div
      = @caption
      See more at: http://trextrying.tumblr.com